<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://blogs.iadb.org/sostenibilidad/wp-content/uploads/sites/26/2021/06/Photo-2-min-scaled.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.fundacionaquae.org/wp-content/uploads/2016/03/nature-1024x683.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://media.traveler.es/photos/61376689cb06ad0f20e11f81/master/w_1600%2Cc_limit/165542.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>