<nav class="col-md-3 sidebar">
  <h3 class="mt-4">Menú</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/fotos/findAll/view">Ir a fotos</a>
    </li>
  </ul>
</nav>